<h1>Galería de imágenes <small>Intel<strong>cost</strong></small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="galleries.length === 0 || galleries === null">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            El filtro {{ filter }} no arrojó resultados, por favor intente nuevamente.
        </div>
    </div>
</div>

<div class="card-columns">
    <app-image-card *ngFor="let item of galleries" (imageSel)="detailView($event)" [image]="item"></app-image-card>
</div>
<ngx-ui-loader></ngx-ui-loader>